@model IPagedList<HWProductionBlog.Models.BlogPost>
@using PagedList;
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css">

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@*this is the search box*@
@using (Html.BeginForm("Index", "BlogPosts", FormMethod.Get, htmlAttributes: new { @class = "form" }))
{
    <div class="controls controls-row search-row">
        <input id="searchStr" name="searchStr" class="input-block-level" type="text" placeholder="Search my blog site here">
        <button id="searchStr" name="searchStr" class="btn btn-success" type="submit">
            <i class="icon-search">
            </i>
        </button>
    </div>
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>



<!-- Main Content -->

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            @foreach (var item in Model)
            {
                if (item.MediaUrl != null)
                {
                    <img class="img-responsive" src="@item.MediaUrl" alt="" />
                }
                <div class="post-preview">
                    <a href="@Url.Action("Details", "BlogPosts", new { slug = item.Slug })">
                        <h2 class="post-title">
                            @Html.DisplayFor(modelItem => item.Title)
                        </h2>
                        <h3 class="post-subtitle">
                            @*@Html.DisplayFor(modelItem => item.Body)*@
                            @Html.Raw(item.Body)
                        </h3>
                    </a>

                    @Html.ActionLink("Read More...", "Details", new { slug = item.Slug }) |
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) <div> | </div>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        }
                    }
                    <p class="post-meta">Posted by Hanif Warren on @Html.DisplayFor(modelItem => item.Created)</p>
                </div>
                <hr>

            }
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount	@Html.PagedListPager(Model, page => Url.Action("Index", new
                                                                                               {
                                                                                                   page,
                                                                                                   searchStr = ViewBag.Search
                                                                                               }))

            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul>
        </div>
    </div>


</div>
